@font-face {
    font-family: 'arial';
    src: url('../../../assets/fonts/arial-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/arial-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Georgia';
    src: url('../../../assets/fonts/georgia.woff2') format('woff2'),
         url('../../../assets/fonts/Georgia.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}