/* Page slide */

.page-section__slide {
    background: #F6F6F6;

    @include respond(phone) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
    }
}

.pet-slides {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pet-slides__title {
    letter-spacing: 2.1px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.pet-slides__page {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(phone) {
        // margin-bottom: 11.4rem;
        // padding-top: 0;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

.pet-slides__inner {
    @include respond(desktop) {
        width: 99rem;
    }

    @include respond(tabonly) {
        width: 58rem;
    }

    @include respond(phone) {
        width: 27rem;
    }

}

// .pet-slides__list {
//     margin-right: -9rem;

//     @include respond(tabonly) {
//       margin-right: -4rem;
//     }

//     @include respond(phone) {
//       margin-right: 0;
//     }
// }

// .pet-slides__item {
//     width: 27rem;
//     margin-right: 9rem;

//     @include respond(phone) {
//       width: 100%;
//     }
// }

// .pet-slides__item {
//     margin-right: 9rem;

//     @include respond(tabonly) {
//       margin-right: 4rem;
//     }

//     @include respond(phone) {
//       margin-right: 0;
//     }
// }

.pet {
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;
}

.pet:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet__pic {
    width: 270px;
    height: 270px;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.pet__body {
    padding: 0 20px 30px;
}

.pet__name {
    font-size: 20px;
    color: $text-color;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    text-align: center;
}

.pet__btn {
    padding-right: 42px;
    padding-left: 42px;
    border: 3px solid #F1CDB3;
    background-color: #fff;
}

.pet-slides__btn {
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-decoration: none;
    max-width: 261px;

    @include respond(phone) {}
}

.page-slide__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include adaptive($tabdeskonly) {
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    @include respond(phone) {
      margin-top: 2rem;
    }
}

.page-slide__nav-btn {
    background-image: url(../../../assets/icons/Arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    margin-top: -10px;
    background-color: transparent;

    @include respond(phone) {
        margin-right: 4rem;
        margin-left: 4rem;
    }
}

.page-slide__nav-btn:hover {
    background-color: #F1CDB3;
}

.page-slide__nav-btn_right {

        @include respond(phone) {
            right: 4.8rem;
        }
}

.page-slide__nav-btn_left {
    transform: rotate(180deg);

        @include respond(phone) {
            left: 4.8rem;
        }
}

.page-sec__slides-list_pets {
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-right: -40px;
    margin-bottom: -30px;
}

.page-sec__slides-item_pets {
    margin-right: 40px;
    margin-bottom: 30px;
    flex: 0 0 21.7%;
}